@{
    ViewBag.Title = "About project";
}
<div>
    <h3>ТЕСТОВОЕ ЗАДАНИЕ ДЛЯ ПРОГРАММИСТА НА C#</h3>
    <hr />
    <b>Исходные средства:</b> <br />

    •	Visual Studio 2010 или выше (язык программирования C#); <br />
    •	ASP.NET MVC 3 или выше; <br />
    •	Microsoft SQL Server 2008 или выше;<br />

    <b>Задание:</b> <br />
    В «Artsofte» решили произвести перепись сотрудников, для того что бы определится с тем, сколько человек являются сотрудниками. Ваша задача реализовать web-приложение, которое позволит автоматизировать этот процесс.<br />

    <b>Основные сущности:</b><br />
    1.	Сотрудник (Имя, Фамилия, Возраст, Пол, Отдел)<br />
    2.	Отдел (Название, этаж)<br />
    3.	Язык программирования (Название)<br />

    <b>Основные страницы:</b><br />
    1.	Страница добавление пользователя (макет на рисунке 1). Поля «отдел» и «язык программирования» являются селект-боксами. Для поля имя реализовать автокомплит (подсказка выбора) с использованием jQuery ui (css-стили можно не править).<br />

    Рисунок 1
    2.	Список уже добавленных сотрудников (макет на рисунке 2).<br />

    Рисунок 2
    3.	Страница изменения пользователя (макет на рисунке 3).<br />

    Рисунок 3<br />
    <b>Структура базы данных:</b><br />
    Таблицы должны быть связаны посредствам внешних ключей.<br />

    <b>Адреса страниц должны быть такими:</b><br />
    •	Добавление сотрудника: /add<br />
    •	Изменение сотрудника: /edit<br />
    •	Список сотрудников: /<br />

    Примечание:<br />
    Справочники «Отдел» и «Язык программирования» можно заполнить вручную в базе (реализация отдельных страниц для редактирования справочников приветствуется).
</div>
